<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
<section class="">
    <div class="container">
        <div class="row">
            <p class="display-4">
                I'm Meotry and, I'm a code author
            </p>
            <br/>
            <p class="info">
                Vitae aliquet nec ullamcorper sit amet risus nullam eget felis eget
                nunc lobortis mattis aliquam faucibus purus in massa tempor nec feugiat nisl
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card"><img src="../img/day18-floppy.png">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card"><img src="../img/day39-pc.png">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card"><img src="../img/day70-designer-fav-tool-wacom.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--Container-->

    <br/>
    <br/>

    <div class="container glass-container">
        <section class="blog-area pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="single-blog blog-style-one glassCard">
                            <div class="blog-image">
                                <a href="javascript:void(0)"
                                ><img src="https://cdn.ayroui.com/1.0/images/blog/1.jpg" alt="Blog"
                                /></a>
                                <a href="javascript:void(0)" class="category">Technology</a>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="javascript:void(0)">
                                        Budget-Friendly Design Ideas to Transform Your Office
                                    </a>
                                </h5>
                                <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                                <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                                <p class="text">
                                    Create a workspace your team will love with these money-saving
                                    interior Ui/Ux design tips Learn how People.
                                </p>
                                <a class="more" href="javascript:void(0)">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="single-blog blog-style-one glassCard">
                            <div class="blog-image">
                                <a href="javascript:void(0)"
                                ><img src="https://cdn.ayroui.com/1.0/images/blog/2.jpg" alt="Blog"
                                /></a>
                                <a href="javascript:void(0)" class="category">Lifestyle</a>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="javascript:void(0)">
                                        Budget-Friendly Design Ideas to Transform Your Office
                                    </a>
                                </h5>
                                <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                                <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                                <p class="text">
                                    Create a workspace your team will love with these money-saving
                                    interior Ui/Ux design tips Learn how People.
                                </p>
                                <a class="more" href="javascript:void(0)">READ MORE</a>
                            </div>
                        </div>
                        <!-- single blog -->
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-10">
                        <div class="single-blog blog-style-one glassCard">
                            <div class="blog-image">
                                <a href="javascript:void(0)"
                                ><img src="https://cdn.ayroui.com/1.0/images/blog/3.jpg" alt="Blog"
                                /></a>
                                <a href="javascript:void(0)" class="category">Science</a>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="javascript:void(0)">
                                        Budget-Friendly Design Ideas to Transform Your Office
                                    </a>
                                </h5>
                                <span><i class="lni lni-calendar"></i> Mar 23, 2022</span>
                                <span><i class="lni lni-comments-alt"></i> 24 Comment</span>
                                <p class="text">
                                    Create a workspace your team will love with these money-saving
                                    interior Ui/Ux design tips Learn how People.
                                </p>
                                <a class="more" href="javascript:void(0)">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
</body>
</html>
